<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprog2.eventme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_eventme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_eventme_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Eventme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtrr_csBSo88vkRAHcSn3JoTiRCfukpF4" />

        <activity android:name=".presentation.activities.UserFriendsActivity" />
        <activity android:name=".presentation.activities.UserEventsActivity" />
        <activity android:name=".presentation.activities.EditProfileActivity" />
        <activity android:name=".presentation.activities.ChatActivity" />
        <activity android:name=".presentation.activities.EventDetailActivity" />
        <activity android:name=".presentation.activities.RegisterActivity"
            />
        <activity android:name=".presentation.activities.LoginActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.activities.StartActivity"
            android:noHistory="true">
        </activity>
        <activity android:name=".presentation.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
